<div class="pagination">
  {{#if prev}}
    <a class="pagination-item older" href="{{pageUrl prev}}">Older</a>
  {{else}}
    <span class="pagination-item older">Older</span>
  {{/if}}
  {{#if next}}
    <a class="pagination-item newer" href="{{pageUrl next}}">Newer</a>
  {{else}}
    <span class="pagination-item newer">Newer</span>
  {{/if}}
</div>
