<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{@blog.title}}</h1>
      <p class="lead">{{@blog.description}}</p>
    </div>

    {{navigation}}

    <p>&copy; {{date format='YYYY'}}. All rights reserved.</p>
  </div>
</div>
