<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {{> head}}

  <body>

    {{> sidebar}}

    <div class="content container">
      {{{body}}}
    </div>

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

  </body>
</html>
